<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617925254475-j59ajm9v3ddcli3i5gfhpdt8botudplm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617925254475-j59ajm9v3ddcli3i5gfhpdt8botudplm</string>
	<key>API_KEY</key>
	<string>AIzaSyCJyowDBHtGS3geB-bincy-b4e4yi3U8v8</string>
	<key>GCM_SENDER_ID</key>
	<string>617925254475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tbd</string>
	<key>PROJECT_ID</key>
	<string>studentnote-192b6</string>
	<key>STORAGE_BUCKET</key>
	<string>studentnote-192b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617925254475:ios:276535225e4c1bdf835cce</string>
</dict>
</plist>